{% extends "simple_bee/base.html" %}

{% block content %}
{% if bee_robot %}
<!-- show bee stats -->
<p id='result'></p>
<div id='plus-container'>
    <strong id='robot-id' class='label'>{{ bee_robot.id }}</strong>
    <!-- decommission and commission -->
    <form action="{% url 'simple_bee:decommission' bee_robot.id %}" method="post">
        {% csrf_token %}
        {% if bee_robot.is_active %}
        <input type="submit" value="Decommission">
        {% else %}
        <input type="submit" value="Commission">
        {% endif %}
    </form>
    <!-- delete -->
    <form action="{% url 'simple_bee:delete' bee_robot.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
</div>

{% else %}
    <p>This bee is not available.</p>
{% endif %}
{% endblock %}

{% block side-bar %}
<a class="icon-container" href="/simple_bee/" >
    {% load static %}
    <img id="home" class="icon" alt="back to front page" src= "{% static "simple_bee/image/home.png" %}">
</a>
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

function create_html(data){
    var html;
    html = "<p id='result'>" + JSON.stringify(data) + "</p>";
    return html;
}

function update_single(bee_robot_id) {
    var update;
    $.ajax({
        type: 'GET',
        url: '/simple_bee/' + bee_robot_id + '/get/',
        contentType: 'application/json',
        success: function(data) {
            $('#result').replaceWith(create_html(data));
        },
        complete: function() {
            // Schedule the next request when the current one's complete          
            setTimeout(update_single, 5000, bee_robot_id);
        }
    });
}

(function update_all() {
    var bee_robot_id = {{bee_robot.id}};
    update_single(bee_robot_id);
})();
</script>
{% endblock javascript %}
