{% extends "simple_bee/base.html" %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if fields %}
    <form action="{% url 'simple_bee:register_confirm' %}" method="post">
        {% csrf_token %}
        {% for field in fields %}
            <label>{{ field }}</label>
            <input type="number" name="{{field}}" id="field{{ forloop.counter }}">
            <br>
        {% endfor %}
        <input type="submit" value="register">
    </form>
{% else %}
    <p>The bee model is not available.</p>
{% endif %}
{% endblock %}

{% block side-bar %}
<a class="icon-container" href="/simple_bee/" >
    {% load static %}
    <img id="home" class="icon" alt="back to front page" src= "{% static "simple_bee/image/home.png" %}">
</a>
{% endblock %}